*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.container{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(24, 24, 24, 0.4), rgba(0,0,0,0.7)), url(../images/stars.jpg);
  background-size: cover;
  background-position: center;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.4);
    height: 12%;
    display: flex;
    align-items: center;
}

.title{
    margin-top: 20px;
    margin-left: 290px;
    height: 12%;
    display: flex;
    align-items: center;
}

.bar{
    margin-top: 20px;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.row{
    margin-top: 30px;
    margin-left: 300px;
    height: 12%;
    display: flex;
    align-items: center;
}

.row2{
    margin-top: 30px;
    margin-left: 300px;
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
    background-color: rgba(230, 170, 100, 0.5);
}

.menu-icon{
    width: 40px;
    cursor: pointer;
    margin-left: 80px;
    margin-right: 40px;
}

nav{
    flex:  1;
    text-align: right;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 70px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

nav ul li u{
    position: relative; right:250px; margin-left:0px; margin-right:0px;
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    background-color: rgba(230, 170, 100, 0.5);
}

.col{
    margin-right: 1em;
}

h1{
    color: #fff;
    font-size: 60px;
}

p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

button{
    cursor: pointer;
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    transition: transform 0.5s;
}

.card{
    width: 220px;
    height: 250px;
    display: inline-grid;
    border-radius: 10px;
    padding: 50px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 12px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.banner{
    width: 600px;
    height: 270px;
    display: inline-grid;
    border-radius: 10px;
    padding: 50px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 12px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(../images/measu.jpg);
}
.card2{
    background-image: url(../images/schematic.jpg);
    height: 400px;
}
.card3{
    background-image: url(../images/thermistor.jpg);
    height: 500px;
}
.card4{
    background-image: url(../images/tempg.jpg);
    height: 390px;
}
.card5{
    background-image: url(../images/Capacitiveg.jpg);
    height: 390px;
}

.card:hover{
    transform: translateY(-7px);
}

.banner:hover{
    transform: translateY(-7px);
}

button:hover{
    transform: translateY(-7px);
}

h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-size: 50px;
    text-align: center;
}


.pln {
    color: #000;
}
.tag {
    color: #008;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
pre code {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
    padding: 2px;
    font: 14px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}
pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
}
code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    padding: 2px;
    font: 14px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}
code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
code, pre {
    padding: 0 3px 2px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
    font-family: monospace;
}
pre {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
    font: 14px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}